.forecast {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
	* {
		width: 100%;
	}
	h1 {
		position: absolute;
		top: 13%;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	.forecast__panel {
		margin-bottom: 20px;
		.forecast__overall {
			margin-bottom: 16px;
			line-height: 1.3em;
			font-weight: bold;
			padding: 0 5px;
		}
		.forecast__grade {
			font-size: 13px;
			line-height: 1.3em;
			padding: 0 5px;
		}
	}
	.forecast__controls {
		display: flex;
		align-items: center;
		.button {
			margin: 0 0.5em;
			font-size: 24px;
			width: fit-content;
		}
		progress {
			flex: 1;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			height: 0.5em;
			margin-right: 5px;
			&::-webkit-progress-value {
				background-color: $blue;
				transition: width 0.5s linear;
			}
		}
	}
}
