main {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	.container {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 200vw;
		height: 100%;
		transition: all 0.3s ease-in-out;
		overflow: auto;
		.page {
			width: 100vw;
			height: 100%;
			padding-top: 70px;
			overflow: auto;
		}
	}
}

.big-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fce006;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: white;
	font-size: 28px;
	text-align: center;
	line-height: 1.5;
	padding: 0px 20px;
	display: none;
	z-index: 4;
	@media screen and (max-width: #{$breakpoint-mobile-small - 1px}) {
		display: flex;
	}
	@media screen and (min-width: #{$breakpoint-mobile-large + 1px} ) {
		display: flex;
	}
}

.no-gps {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #8a27db;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: white;
	font-size: 28px;
	text-align: center;
	line-height: 1.5;
	padding: 0px 20px;
	display: none;
	z-index: 10;
}
